#mac ignores
:2e*
._*
*~
.AppleDouble*
.DS_*
-.save
.com.apple.timemachine*

#Compass & RVM
.rvmrc
.sass-cache/*

dump/*

git filter-branch --index-filter 'git rm --cached --ignore-unmatch Rakefile' \
  --prune-empty --tag-name-filter cat -- --all