$dark-blue: #223344;
$grey: rgba(150, 170, 190, 1);
$light-blue: #AAC8E0;
$orange: #CC6600;
$white: #FFFFFF;
$transparent: rgba(0,0,0,0);
$black: #000000;

@font-face {
  font-family: 'FontAwesome';
  src: url('../../font/fontawesome-webfont.eot');
  src: url('../../font/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../font/fontawesome-webfont.woff') format('woff'),
       url('../../font/fontawesome-webfont.ttf') format('truetype'),
       url('../../font/fontawesome-webfont.svgz#FontAwesomeRegular') format('svg'),
       url('../../font/fontawesome-webfont.svg#FontAwesomeRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BanksiaRegular';
  src: url('../../font/banksiaeot.eot');
  src: url('../../font/banksiaeot.eot?#iefix') format('embedded-opentype'),
       url('../../font/banksiawoff.woff') format('woff'),
       url('../../font/banksiattf.ttf') format('truetype'),
       url('../../font/banksiasvg.svg#FontAwesomeRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

$base-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header-family: 'BanksiaRegular', Helvetica, Arial, sans-serif;
