$dark-blue: #223344;
$grey: rgba(150, 170, 190, 1);
$light-blue: #AAC8E0;
$orange: #CC6600;
$white: #FFFFFF;
$transparent: rgba(0,0,0,0);
$black: #000000;

@import "compass/css3/font-face";
$font_path: "../../font/" !default;

@include font-face(
  'FontAwesome',
  font-files(
    "#{$font_path}fontawesome-webfont.woff", woff,
    "#{$font_path}fontawesome-webfont.ttf", truetype,
    "#{$font_path}fontawesome-webfont.otf", opentype,
    "#{$font_path}fontawesome-webfont.svgz#FontAwesomeRegular", svg,
    "#{$font_path}fontawesome-webfont.svg#FontAwesomeRegular", svg),
  '#{$font_path}fontawesome-webfont.eot',
  normal,
  normal
);

@include font-face(
  "BanksiaBold",
  font-files(
    "#{$font_path}banksb20eot.eot", opentype,
    "#{$font_path}banksb20woff.woff", woff,
    "#{$font_path}banksb20ttf.ttf", truetype,
    "#{$font_path}banksb20svg.svg#BanksiaBold", svg
  )
);

@include font-face(
  "BanksiaRegular", font-files(
    "#{$font_path}banksiaeot.eot", opentype,
    "#{$font_path}banksiawoff.woff", woff,
    "#{$font_path}banksiattf.ttf", truetype,
    "#{$font_path}banksiasvg.svg#BanksiaRegular", svg
  )
);


$base-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header-family: 'BanksiaRegular', Helvetica, Arial, sans-serif;
