
/* Footer */

#footer .container {
  position: relative;
}

/* Logo */

#footerLogo p {
  position: absolute;
  top: 30px;
  left: 0;
  padding: 11px 20px;
  width: 900px;
  height: 18px;
  overflow: hidden;
  font-size: 11px;
  line-height: 1.636;
  color: #fff;
  background: #1e4f70;
  background: -moz-linear-gradient(top, rgba(4, 28, 62, 0.33) 0%, rgba(0, 0, 0, 0.33) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(4, 28, 62, 0.33)), color-stop(100%,rgba(0, 0, 0, 0.33)));
}

#footerLogo a {
  color: #b7d5e9;
  border: 0;
}

#footerLogo a:link,
#footerLogo a:visited {
  color: #b7d5e9;
}

#footerLogo a:hover,
#footerLogo a:active,
#footerLogo a:focus {
  color: #fff;
}

/* Navigation */

#footerNavigation h4 {
  position: absolute;
  top: -9999px;
  left: -9999px;
  text-indent: -9999px;
}

#footerNavigation ul {
  position: absolute;
  top: 30px;
  right: 10px;
  font-size: 11px;
  line-height: 1.636;
}

#footerNavigation li {
  float: left;
  padding: 11px 0 11px 20px;
}

#footerNavigation a {
  color: #b7d5e9;
  border: 0;
}

#footerNavigation a:link,
#footerNavigation a:visited {
  color: #b7d5e9;
}

#footerNavigation a:hover,
#footerNavigation a:active,
#footerNavigation a:focus {
  color: #fff;
}