.content ul,
.content ol {
  padding: 0 0 12px 20px;
}

.content ul {
  list-style: disc;
}

.content ol {
  list-style-type: decimal;
}

.content ul ul,
.content ol ul,
.content ol ol {
  padding-bottom: 0;
}

.content ol ol {
  list-style: upper-roman;
}

.content ol ol ol {
  list-style: lower-roman;
}

small {
  font-size: 11px;
}

em {
  font-style: italic;
}

table {
  border-top: 1px solid #d8d8d8;
  width: 100%;
  margin-bottom: 24px;
  vertical-align: top;
}

td, th {
  border-bottom: 1px solid #d8d8d8;
  padding: 4px;
  vertical-align: top;
}

th {
  font-weight: 700;
  background: #fff;
}

img.alignLeft {
  float: left;
  padding-right: 10px;
}

img.alignRight {
  float: right;
  padding-left: 10px;
}

p.floatedImage {
  padding-bottom: 0;
}

a.linkedImage {
  border: 0;
}

/*
  Header
*/
#main {
  position: relative;
  padding-top: 20px;
}

#main:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ie6 #main, .ie7 #main { zoom: 1; }

/* General module */

#main .mod,
#main section,
#main article {
  margin-bottom: 10px;
}

section:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ie6 section, .ie7 section { zoom: 1; }

#main .mod .mod,
#main section section,
#main article article,
#main .mod section,
#main .mod article,
#main section .mod,
#main section article,
#main article .mod,
#main article section {
  padding: 0;
}

header:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ie6 header, .ie7 header { zoom: 1; }

#main header {
  padding-bottom: 10px;
}

#main header h1,
#main header h2,
#main header h3,
#main header h4 {
  padding-bottom: 0;
}

#main header p,
#main header ul {
  font-size: 11px;
  padding: 2px 0 0 0;
  color: #666;
}

#main header ul:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ie6 #main header ul, .ie7 #main header ul { zoom: 1; }

#main header li {
  float: left;
  padding-right: 10px;
}

.bd:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ie6 .bd, .ie7 .bd { zoom: 1; }

.ft:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ie6 .ft, .ie7 .ft { zoom: 1; }

#main footer p,
#main footer ul {
  font-size: 11px;
  padding: 2px 0 0 0;
  color: #666;
}

#main footer ul:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ie6 #main footer ul, .ie7 #main footer ul { zoom: 1; }

#main footer li {
  float: left;
  padding-right: 10px;
}

/* White module */

#main .whiteMod .inner {
  background: #fff;
  border: 1px solid #d8d8d8;
  padding: 20px 20px 10px 20px;
}

/* Side navigation */

.sideNavigation:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ie6 .sideNavigation, .ie7 .sideNavigation { zoom: 1; }

.sideNavigation h4 {
  position: absolute;
  top: -9999px;
  left: -9999px;
  text-indent: -9999px;
}

.sideNavigation ul {
  padding-bottom: 22px;
}

.sideNavigation li {
  overflow: hidden;
  margin: 0;
}

.sideNavigation li a {
  display: block;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.538;
  padding: 9px 10px 9px 20px;
  border: 1px solid #d8d8d8;
  border-bottom: 0;
  background: #fff;
  color: #1d5174;
}

.col .sideNavigation li a { width: 28px; }
.col-2 .sideNavigation li a { width: 108px; }
.col-3 .sideNavigation li a { width: 188px; }
.col-4 .sideNavigation li a { width: 268px; }
.col-5 .sideNavigation li a { width: 348px; }
.col-6 .sideNavigation li a { width: 428px; }
.col-7 .sideNavigation li a { width: 508px; }
.col-8 .sideNavigation li a { width: 588px; }
.col-9 .sideNavigation li a { width: 668px; }
.col-10 .sideNavigation li a { width: 748px; }
.col-11 .sideNavigation li a { width: 828px; }
.col-12 .sideNavigation li a { width: 908px; }

.sideNavigation li a:link,
.sideNavigation li a:visited {
  border-color: #d8d8d8;
  color: #2081bb;
}

.sideNavigation li a:hover,
.sideNavigation li a:active,
.sideNavigation li a:focus {
  border-color: #d8d8d8;
  color: #ef4d03;
}

.sideNavigation li:last-child a {
  border-bottom: 1px solid #d8d8d8;
}

.sideNavigation li.selected a {
  border-color: #2081bb;
  background: #2081bb;
  background: -moz-linear-gradient(top, #54a2ce 0%, #2081bb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#54a2ce), color-stop(100%,#2081bb));
  color: #fff;
}

.sideNavigation li.selected a:link,
.sideNavigation li.selected a:visited {
  border-color: #2081bb;
  color: #fff;
}

.sideNavigation li.selected a:hover,
.sideNavigation li.selected a:active,
.sideNavigation li.selected a:focus {
  border-color: #2081bb;
  color: #fff;
}

.sideNavigation li.selected ul {
  background: #1c4f6f;
  padding: 8px 0;
}

.sideNavigation li.selected li a {
  background: transparent;
  color: #b7d5e9;
  font-size: 11px;
  line-height: 1.636;
  font-weight: 300;
  padding: 2px 10px 2px 20px;
  border: 0;
}

.col .sideNavigation li.selected li a { width: 30px; }
.col-2 .sideNavigation li.selected li a { width: 110px; }
.col-3 .sideNavigation li.selected li a { width: 190px; }
.col-4 .sideNavigation li.selected li a { width: 270px; }
.col-5 .sideNavigation li.selected li a { width: 350px; }
.col-6 .sideNavigation li.selected li a { width: 430px; }
.col-7 .sideNavigation li.selected li a { width: 510px; }
.col-8 .sideNavigation li.selected li a { width: 590px; }
.col-9 .sideNavigation li.selected li a { width: 670px; }
.col-10 .sideNavigation li.selected li a { width: 750px; }
.col-11 .sideNavigation li.selected li a { width: 830px; }
.col-12 .sideNavigation li.selected li a { width: 910px; }

.sideNavigation li.selected li a:link,
.sideNavigation li.selected li a:visited {
  color: #b7d5e9;
}

.sideNavigation li.selected li a:hover,
.sideNavigation li.selected li a:active,
.sideNavigation li.selected li a:focus {
  color: #fff;
}

.sideNavigation li.selected li.selected a {
  color: #fff;
}

.sideNavigation li.selected li.selected a:link,
.sideNavigation li.selected li.selected a:visited {
  color: #fff;
}

.sideNavigation li.selected li.selected a:hover,
.sideNavigation li.selected li.selected a:active,
.sideNavigation li.selected li.selected a:focus {
  color: #fff;
}

.sideNavigation li.selected li.selected ul {
  padding: 0;
}

.sideNavigation li.selected li.selected li a {
  padding: 2px 10px 2px 40px;
  color: #b7d5e9;
}

.sideNavigation li.selected li.selected li a:link,
.sideNavigation li.selected li.selected li a:visited {
  color: #b7d5e9;
}

.sideNavigation li.selected li.selected li a:hover,
.sideNavigation li.selected li.selected li a:active,
.sideNavigation li.selected li.selected li a:focus {
  color: #fff;
}

.sideNavigation li.selected li.selected li.selected a {
  color: #fff;
}

.sideNavigation li.selected li.selected li.selected a:link,
.sideNavigation li.selected li.selected li.selected a:visited {
  color: #fff;
}

.sideNavigation li.selected li.selected li.selected a:hover,
.sideNavigation li.selected li.selected li.selected a:active,
.sideNavigation li.selected li.selected li.selected a:focus {
  color: #fff;
}

.sideNavigation li.selected li.selected li.selected ul {
  padding: 0;
}

.sideNavigation li.selected li.selected li.selected li a {
  padding: 2px 10px 2px 60px;
  color: #b7d5e9;
}

.sideNavigation li.selected li.selected li.selected li a:link,
.sideNavigation li.selected li.selected li.selected li a:visited {
  color: #b7d5e9;
}

.sideNavigation li.selected li.selected li.selected li a:hover,
.sideNavigation li.selected li.selected li.selected li a:active,
.sideNavigation li.selected li.selected li.selected li a:focus {
  color: #fff;
}

.sideNavigation li.selected li.selected li.selected li.selected a {
  color: #fff;
}

.sideNavigation li.selected li.selected li.selected li.selected a:link,
.sideNavigation li.selected li.selected li.selected li.selected a:visited {
  color: #fff;
}

.sideNavigation li.selected li.selected li.selected li.selected a:hover,
.sideNavigation li.selected li.selected li.selected li.selected a:active,
.sideNavigation li.selected li.selected li.selected li.selected a:focus {
  color: #fff;
}
/*
  Footer
*/

/* Sticky footer */

html, body, #topWrapper {
  height: 100%;
}

body > #topWrapper {
  height: auto;
  min-height: 100%;
}

#bottomWrapper {
  position: relative;
  margin-top: -70px;
  height: 70px;
  clear: both;
  background: url(../images/background.png) repeat-x top center;
}

#main {
  padding-bottom: 90px;
}

/*
  jQuery UI
*/

.ui-autocomplete {
  z-index: 999 !important;
}

/*
  Share
*/

.share {
  position: relative;
}

.share ul.shareMenu {
  position: absolute;
  top: 14px;
  left: 0;
  z-index: 99999;
  background-color: #FFF;
}

.share ul.shareMenu li {
  float: none !important;
  padding: 3px 10px;
}

/*
  Guillotine bug
*/

.guillotineBugFix { display: none; }
.ie6 .guillotineBugFix { clear: both; height: 0; font-size: 0; line-height: 0; display: block; }

/*
  Clearfix
*/

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ie6 .clearfix, .ie7 .clearfix { zoom: 1; }