p {
  padding-bottom: 12px;
}

strong,
th,
thead td {
  font-weight: 700;
}

h1,
h2,
h3,
h4 {
  font-family: 'Qlassik bold', Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 300;
  color: #1c4f6f;
  a {
    border: 0;
  }
}

h1, h2 {
  font-size: 42px;
  padding: 0 0 12px 0;
}

h3 {
  font-size: 30px;
  padding: 0 0 8px 0;
}

h4 {
  font-size: 20px;
  padding: 0 0 2px 0;
}

/* Links */

a {
  text-decoration: none;
  border-bottom: 1px solid #abdaee;
  color: #018fcc;
  &:link {
    border-color: #b6d5e9;
    color: #2081bb;
  }
  &:visited {
    border-color: #b4d0e0;
    color: #1b70a1;
  }
  &:hover,
  &:active,
  &:focus {
    border-color: #ef4d03;
    color: #ef4d03;
  }
}

@font-face {
  font-family: 'Qlassik bold';
  src: url('../fonts/qlassikbold.eot');
  src: url('../fonts/qlassikbold.eot?iefix') format('eot'),
       url('../fonts/qlassikbold.woff') format('woff'),
       url('../fonts/qlassikbold.ttf') format('truetype'),
       url('../fonts/qlassikbold.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}